---
title: Események | Hősök Tere
---
<div class="container">

      <div class="esemenyek-header">
        <div class="zimbardo-header-bar">
            <div class="header-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a class="header-bar-active" href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <%= partial "header_bar_social.erb" %>

        
        </div>
            <div class="header-bar-low-menu">
                <a class='h-conf' href="/konferencia.html">KONFERENCIA</a>
                <a class='h-trening' href="/trening.html">TRÉNING</a>
                <a class='h-feszt' href="/fesztival.html">HELLO HŐSÖK FESZTIVÁL</a>
                <a class='h-temest' href="/esemenyek.html">TEMATIKUS ESTEK</a>
            </div>
      </div>

    


    <p class="body-text-bigger2">
    A 20-30 éves korosztályt szeretnénk érdemben közel hozni a hős tématikához ezen az eseményen keresztül – közvetlen hatást elérni bevonással. Érzékenyíteni a téma iránt érdeklődőket és ösztönözni, hogy ezt adja is tovább, ez az ő felelőssége. 
A 20-30 évesek azok, akik aktív szerepet vállalnak közösségekben, projektekben, kezdeményezésekben (véleményvezérek lehetnek, bizonyos részük vezető is) – a szellemiséget közvetlenül tovább tudják adni, személyesen terjeszteni.
<br/><br/>
Esemény formája: Havonta 1 esemény ( április, május, június) 2,5 órás kb. 30 fős Zimbardo koncepció elemeihez kapcsolódik, terepgyakorlattal kiscsoportban, utána informális ismerkedéssel.
Az események nem épülnek egymásra, de kiegészítik egymást.
    </p>
        <div class="footer">
            <div class="footer-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <p class="footer-copyright">Hero Fest Kft. 2014. Minden jog fenntartva!</p>
        </div>
</div> <!-- /container -->