---
title: Hello Hősök Fesztivál | Hősök Tere
---
<div class="container">

      <div class="fesztival-header">
        <div class="zimbardo-header-bar">
            <div class="header-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a class="header-bar-active" href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <div class="header-bar-social">
                <a href=""><img src="/img/mail.jpg" /></a><a href=""><img src="/img/fb.jpg" /></a><a href=""><img src="/img/yt.jpg" /></a>
            </div>
        
        </div>
            <div class="header-bar-low-menu">
                <a class='h-conf' href="/konferencia.html">KONFERENCIA</a>
                <a class='h-trening' href="/trening.html">TRÉNING</a>
                <a class='h-feszt' href="/fesztival.html">HELLO HŐSÖK FESZTIVÁL</a>
                <a class='h-temest' href="/esemenyek.html">TEMATIKUS ESTEK</a>
            </div>
      </div>

    


    <p class="body-text-bigger2">
A Hősök Tere Kezdeményezés záró eseménye, egy napos buli. Azért szervezzük, hogy megünnepeljük, hogy mindennapi hősnek lenni jó. Hogy érdemes tenni másokért, mert az cool dolog. És hogy ez a követendő minta.
</p>
<p class="body-text-bigger2">
6-8 ezer embert várunk a fesztiválra.
</p>
<h1 class="body-title">Helyszín</h1>

<p class="body-text-bigger2"> BUDAPEST PARK nagyszínpad, és több kisebb helyszín (nem csak színpad) - tartalom szerint.
</p>


<h1 class="body-title">Zenekarok</h1>

<ul class="body-text-bigger">

 <li>    Anna and the Barbies
</li><li>         Ivan & the Parazol
</li><li>         Óriás
</li><li>         Halott Pénz
</li><li>         Sena és zenekara
</li><li>         Belmondo


</ul>
<h1 class="body-title"> Mi történik a fesztiválon</h1>
<p class="body-text-bigger2">
A fellépő zenészek, együttesek közösen, szisztematikusan felépítve zenélnek. A fellépők egymásnak átadva egy ritmust, egy zenei modult, amit a következő zenekar folytat. Az est végén az összes zenész együtt játszik.
</p>
<p class="body-text-bigger2">
További mindennapi hősiességgel kapcsolatos eseményekre építünk:
<ol class="body-text-bigger">
<li>       provokációra
</li><li>       közösségépítésre
</li><li>       mindennapi hősiességgel kapcsolatos versenyre, pontgyűjtésre, slam poetryre
 </ol>
</p>

<h1 class="body-title">Provokáció</h2>
<p class="body-text-bigger2">
Kb. 150 önkéntessel felforgatjuk a várost és a vidéki nagyvárosokat. Mindennapi helyzetekkel interaktív kísérlet formájában provokálunk ott, ahol aznap tömeg van és ezt streameljük a Hello Hősök Fesztiválon, ahol a bulizók élőben nézik a közvetítést. A moderátorok provokálnak és kommentálnak, felvezetnek, stb.
</p>

<p class="body-text-bigger2">
    Lesz Hősök Tere Kezdeményezés installáció is - ahol mi vagyunk, ahol az igazi mindennapi hősök vannak. Az installáció alkalmas arra, hogy ott fotózzák magukat és egymást a résztvevők.
 
</p>

<h1 class="body-title">Támogató: Ustream</h2>



<p class="body-text-bigger2">
Továbbá Budapesten és más városokban flash mobok, melyeket a Ustream közvetít a fesztivál helyszínén
    </p>






        <div class="footer">
            <div class="footer-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <p class="footer-copyright">Hero Fest Kft. 2014. Minden jog fenntartva!</p>
        </div>
</div> <!-- /container -->