---
title: Konferencia | Hősök Tere
---
<div class="container">

      <div class="konferencia-header">
        <div class="zimbardo-header-bar">
            <div class="header-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a class="header-bar-active" href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <div class="header-bar-social">
                <a href=""><img src="/img/mail.jpg" /></a><a href=""><img src="/img/fb.jpg" /></a><a href=""><img src="/img/yt.jpg" /></a>
            </div>
        
        </div>
            <div class="header-bar-low-menu">
                <a class='h-conf' href="/konferencia.html">KONFERENCIA</a>
                <a class='h-trening' href="/trening.html">TRÉNING</a>
                <a class='h-feszt' href="/fesztival.html">HELLO HŐSÖK FESZTIVÁL</a>
                <a class='h-temest' href="/esemenyek.html">TEMATIKUS ESTEK</a>
            </div>
      </div>

    


    <p class="body-text-bigger2">
Philip Zimbardo szándéka az, hogy a felhívja figyelmet arra, hogy a helyzetek milyen nagy hatást gyakorolnak viselkedésünkre. Amennyiben ismerjük ezeket a szabályszerűségeket, bizonytalan helyzetekben nagyobb a valószínűsége annak, hogy pozitívan tudjunk hatni másokra és saját magunkra. Ez a helyzetfelismerés hozzájárul ahhoz, hogy valaki hétköznapi hőssé váljon.</p>
<p class="body-text-bigger2">
A konferencia célja tehát annak bemutatása, hogy mire érdemes figyelni annak érdekében, hogy hétköznapi hősökké váljunk. Több országból érkeznek előadók, akik annak a történetét mondják el, hogy milyen módon lehet létrehozni hősképzést különféle intézményekben. Emellett a Dalai Láma munkatársa arról mesél, hogy milyen módon lehet fejleszteni az együttérzést. Hazai kutatók arról fognak beszélni, hogy milyen eszközökkel lehet a passzivitásból és közönyből aktivitást kovácsolni.</p>
<p class="body-text-bigger2">
Szó lesz arról is, hogy mit tud mondani a szociálpszichológia a demokratikus működésről. A nemzetközi és hazai előadók mellett meg fognak szólalni hazai hősök is, akik olyan nagyszerű dolgokat csináltak, melyekkel nagyban hozzájárultak mások boldogságához.</p>
<br/><br/><br/>
<h1 class="body-title">Előadóink</h1>
<p class="body-text-bigger2">
Philip Zimbardo<br/>
Matt Langdon<br/>
Rony Berger<br/>
Agnieszka Wilczyńska<br/>
Joe Forgas<br/>
Csermely Péter<br/>
Hankiss Elemér<br/>
Kende Anna<br/>
<br/><br/>
Az előadók mellett számos hétköznapi hős is megosztja tudását, tapasztalatait, történeteit a közönséggel, amelyek segítenek a "hősképzésben".</p>


        <div class="footer">
            <div class="footer-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <p class="footer-copyright">Hero Fest Kft. 2014. Minden jog fenntartva!</p>
        </div>
</div> <!-- /container -->