---
title: Rólunk | Hősök Tere
---
<div class="container">

      <div class="rolunk-header">
        <div class="zimbardo-header-bar">
            <div class="header-bar-menu">
                <a class="header-bar-active" href="/rolunk.html">RÓLUNK</a>
                <a href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <div class="header-bar-social">
                <a href=""><img src="/img/mail.jpg" /></a><a href=""><img src="/img/fb.jpg" /></a><a href=""><img src="/img/yt.jpg" /></a>
            </div>
        </div>
        <div class="header-text-container">
            <h1 class="header-title">A kezdeményezésről</h1>
            <p class="header-text">
            Sokan szeretnének jót tenni, de gyakran egyszerűen nem tudják, hogyan. Van, aki csak nem elég magabiztos, nehezen tudja legyőzni a közönyt, a megfelelési kényszert vagy az apátiát. Mások, akik készek lennének megváltoztatni a világukat, sokszor szembesülnek megfélemlítéssel vagy erőszakkal. Bizonyított, ha valaki rendszeresen azt tapasztalja, hogy nem múlik rajta semmi, hogy tettei hatástalanok a környezetére, akkor passzívvá válik, nem kezdeményez.</p>
        </div>
      </div>

      <p class="body-text">
      Magyarországon élve gyakran halljuk, vagy akár mondjuk magunkról, hogy ez egy pesszimista ország. Borúlátók, szorongók vagyunk, és ami a legrosszabb, egyre közönyösebbek, nemcsak a közéletben, de a hétköznapokban egyaránt. Tény, hogy a politikába és az intézményekbe vetett bizalom nálunk nagyon alacsony. A lakosság 7/10-e semmilyen politikai tevékenységet sem folytat, 4/5-e semmilyen civil szervezethez nem kötődik. Erősen jellemez minket az individualizmus és bizonytalanságkerülés, ez utóbbi arra vonatkozik, hogy mennyire félünk az újtól és a változásoktól. Az emberek 46%-a úgy érzi nem tudja befolyásolni mindennapi dolgait, 54% alig tud eligazodni az életben, 21% nem leli örömét a munkájában, 91% szerint a törvénysértők elkerülik a büntetést, 77% szerint aki vinni akarja valamire, rákényszerül, hogy egyes szabályokat áthágjon, 84% szerint senki sem törődik a másik emberrel. Ijesztő kép ez. Természetesen vannak olyan jellemzők ezek között, amelyek a kultúránkhoz kötődnek, de az, hogy bizonyos helyzetekre hogyan reagálunk, mutatunk-e törődést mások iránt, inkább magától a helyzettől függ, mintsem attól, hol történnek meg velünk a dolgok.
      </p>


      <p class="body-text-bigger">
      Vannak jellemző alaptendenciák, amelyek miatt nem viselkedünk hősiesen. Ezek univerzálisak, mindenkire igazak. Ha tudatosulnak, akkor azonnal könnyebb lesz helyesen cselekedni.
      <br/><br/>
        Melyek ezek a jellemzők?
        <br/>
        <ol class="body-text-bigger">
            <li>Sok esetben automatikusan reagálunk. Ha nem figyelünk oda kritikus helyzetekben, akkor gyakran az
            automatikus rutinjaink alapján döntünk. Ilyen például, mikor az első benyomásunk alapján határozunk valakiről 
            egy állásinterjún.</li>
            
            <li>Címkék és kategóriák alapján hozunk döntéseket másokról és önmagunkról is.</li>

            <li>A világot nem a saját szemszögünkből, hanem más szemszögéből értelmezzük. Ha ezt tesszük, akkor
            a bizonytalan szituációkat könnyen félreértelmezhetjük. Ahelyett, hogy cselekednénk, mások
            reakcióját/értelmezését figyeljük, így például ahelyett, hogy segítenénk, nem segítünk, legfőképp azért, mert
            nem érezzük önmagunkat felelősnek  helyzetért.</li>
            
            <li>Mindenekfelett fontosnak tartjuk a csoport elfogadását és erősen kerüljük annak az elutasítását.
            Emiatt nem hiszünk a szemünknek.</li>
            
            <li>Azt gondoljuk, hogy nem tudjuk magunkat és másokat megváltoztatni. Ha úgy véljük, hogy az intelligenciánk 
            vagy a tehetségünk nem megváltoztatható, akkor rosszabbul teljesítünk sok szituációban, ráadásul rosszul
            is érezzük magunkat teljesítményhelyzetekben.</li>
        </ol>
        </p>

        <br/>
        <h1 class="body-title">A megoldásunk</h1>

        <p class="body-left-col">
            Megadjuk a kezdő lökést ahhoz, hogy egyre több ember, egyre többször tegyen másokért. Abban segítünk, hogy hétköznapi emberek hétköznapi hősökké váljanak, hogy elsajátítsák azokat a képességeket, amelyek segítségével megváltoztathatják a világukat! Tudományosan igazolt, gyakorlatias, tapasztalatokon alapuló programokon keresztül szeretnénk elérni, hogy felismerjék azokat a helyzeteket, amelyekben változtathatnak, és legyenek érzékenyebbek ezek iránt a szituációk iránt.
            A Hősök Tere kezdeményezés tudományos hátterét a Heroic Imagination Project (HIP) adja, ami azzal hívta fel magára a figyelmet, hogy a hétköznapi hősiességet helyezi előtérbe és a
        </p>
        <p class="body-right-col">
            bátor irányítás, vezetés fontosságát hangsúlyozza. A HIP székhelye San Francisco-ban található, alapítója Dr. Philip Zimbardo szociálpszichológus, a Stanford Egyetem professzora. (Zimbardo professzor 1933-ban született New York-ban. Diplomáját a Brooklyn College-on szerezte pszichológia, szociológia és antropológia szakon. Ezután a Yale Egyetemen, ahol Neal E. Miller volt a tanácsadója, pszichológiából doktori és Ph. D fokozatot szerzett. Tanított a Yale-en, a New York-i Egyetemen, később a Columbia Egyetemen is. A Stanford Egyetem pszichológia karához 1968-ban csatlakozott. Híres börtönkísérletét ma a világ tíz legismertebb kísérlete között tartják számon.)
        </p>
        <div style="clear: both;"></div>
        <br/><br/>
        <a href="/trening.html"><img src="img/ws1.jpg" class="ws-img first-image" /></a>
        <a href="/konferencia.html"><img src="img/ws2.jpg" class="ws-img" /></a>
        <a href="/fesztival.html"><img src="img/ws3.jpg" class="ws-img" /></a>
        <div class="footer">
            <div class="footer-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <p class="footer-copyright">Hero Fest Kft. 2014. Minden jog fenntartva!</p>
        </div>
</div> <!-- /container -->