---
title: Tréning | Hősök Tere
---
<div class="container">

      <div class="trening-header">
        <div class="zimbardo-header-bar">
            <div class="header-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a class="header-bar-active" href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <div class="header-bar-social">
                <a href=""><img src="/img/mail.jpg" /></a><a href=""><img src="/img/fb.jpg" /></a><a href=""><img src="/img/yt.jpg" /></a>
            </div>
        
        </div>
            <div class="header-bar-low-menu">
                <a class='h-conf' href="/konferencia.html">KONFERENCIA</a>
                <a class='h-trening' href="/trening.html">TRÉNING</a>
                <a class='h-feszt' href="/fesztival.html">HELLO HŐSÖK FESZTIVÁL</a>
                <a class='h-temest' href="/esemenyek.html">TEMATIKUS ESTEK</a>
            </div>
      </div>

    

        <div class="footer">
            <div class="footer-bar-menu">
                <a href="/rolunk.html">RÓLUNK</a>
                <a href="/esemenyek.html">ESEMÉNYEK</a>
                <a href="/kapcsolat.html">KAPCSOLAT</a>
            </div>
            <p class="footer-copyright">Hero Fest Kft. 2014. Minden jog fenntartva!</p>
        </div>
</div> <!-- /container -->